*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conteiner{
    text-align: center;
}
.conteinerCount{
    height: 5rem;
    width: 20rem;
    margin: auto;
    background-color: beige;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border: solid 1px;
}   
.contador{
    text-align: center;
    font-size: 1rem;
}
.botonCount{
    font-size: 1rem;
    cursor: pointer;
   
    background-color: aliceblue;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
}
.addCarrito{
    font-size: 1rem;
   text-align: center;
   height: 2rem;
   width: 20rem;
   margin-top: 0.2rem;
   background-color: rgb(153, 194, 153);
   border: none;
   cursor: pointer;
   border-radius: 5px;

}
.addCarrito:hover{
    background-color: red;
    transition: .8s;
    
}
