


.navBard{
  background-color: silver;
  width: 100%;
  height: 70px;
  display: flex;
}

.navBard .navSide{
 display: flex;
 align-items: center;
 justify-content: center;
 margin-left: 100px;
 

}
.navBard .navSide .links{
  max-height: 70px;
}
.navBard .navSide .links a{
  text-decoration: none;
  color: aliceblue;
  font-size: 1.5rem;
  margin-left: 20px;
}